*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

html , body{
    height: 100%;
    width: 100%;
}

#page1{
    min-height: 100vh;
    width: 100%;
    background-color: #EFEAE3;
    /* position: relative; */  
    padding: 0 2vw;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; 
}


nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

#nav-part2 {
  display: flex;
  gap: 20px;
}

#nav-part2 li {
  list-style: none;
  display: flex;
  gap: 20px;
}

#nav-part2 a {
  position: relative;
  display: block;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
  color: #262626;
  font-family: sans-serif;
  font-size: 18px;
  font-weight: 600;
  transition: 0.5s;
  z-index: 1;
}

#nav-part2 a::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-top: 2px solid #262626;
  border-bottom: 2px solid #262626;
  transform: scaleY(2);
  opacity: 0;
  transition: 0.3s;
}

#nav-part2 a::after {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #262626;
  transform: scale(0);
  opacity: 0;
  transition: 0.3s;
  z-index: -1;
}

#nav-part2 a:hover {
  color: #fff;
}

#nav-part2 a:hover::before {
  transform: scaleY(1);
  opacity: 1;
}

#nav-part2 a:hover::after {
  transform: scaleY(1);
  opacity: 1;
}

#center{
    margin-top: 100px;
    height: 65vh;
    width: 100%;
    /* background-color: orange; */
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding-bottom: 2.5vw;
}

#left h3{
    width: 25vw;
    font-size: 1.8vw;
    line-height: 2vw;
}

#center h1{
    font-size: 10vw;
    line-height: 10vw;
    text-align: right;
}

#page1 video{
    width: 100%;
    border-radius: 25px;
    margin-top: 4vw;
    position: relative;
}

#hero-shape {
    position: absolute;
    width: 46vw;
    height: 36vw;
    background-color: #FE320A;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    right: 0;
    top: 75vh;
    filter: blur(20px);
}

#hero-1 {
    background-color: #FE320A;
    height: 25vw;
    width: 25vw;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    filter: blur(20px);
    position: absolute;
}

#hero-2 {
    background-color: #FE320A;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime2;
    animation-duration: 2s; /* Faster animation */
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

#hero-3 {
    background-color: #FE320A;
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    filter: blur(20px);
    position: absolute;
    animation-name: anime1;
    animation-duration: 2s; /* Faster animation */
    animation-timing-function: linear;
    animation-direction: alternate;
    animation-iteration-count: infinite;
}

@keyframes anime1 {
    from {
        transform: translate(45%, -1%);
    }
    to {
        transform: translate(0%, 20%);
    }
}

@keyframes anime2 {
    from {
        transform: translate(45%, -1%);
    }
    to {
        transform: translate(0%, 20%);
    }
}

#page2{
    min-height: 10vh;
    width: 100%;
    background-color: #EFEAE3;
    padding: 8vw 0;
    position: relative;
    z-index: 9;
}

#moving-text h1{
    font-size: 9vw;
    display: inline-block;
}
#moving-text{
    white-space: nowrap;
    overflow-x: auto;
}

#moving-text::-webkit-scrollbar{
    display: none;
}

.con{
    white-space: nowrap;
    display: inline-block;
    animation-name: move;
    animation-iteration-count: infinite;
    animation-duration: 10s;
    animation-timing-function: linear;
}

#gola{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #FE320A;
    display: inline-block;
    margin: 1vw 3vw;
}

@keyframes move {
    from{
        transform: translateX(0);
    }
    to{
        transform: translateX(-100%);
    }
    
}


#page2-bottom{
    background-color: #EFEAE3;
    height: 80vh;
    width: 100%;
    padding: 4vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2-bottom h1{
    font-size: 4vw;
    width: 55%;
    line-height: 4vw;
    z-index: 9;
}

#bottom-part2{
    top: 50vh;
    width: 25%;
}

#bottom-part2 img{
    width: 100%;
    border-radius: 15px;
}

#bottom-part2 p{
    font-weight: 700;
    margin-top: 2vw;
}

#gooey{
    height: 20vw;
    width: 20vw;
    position: relative;
    border-radius: 50%;
    background-color: #FE320A;
    top: 10%;
    right: 400px;
    filter: blur(20px);
}

#gooey1{
    height: 25vw;
    width: 25vw;
    border-radius: 50%;
    background-color: #FE320A;
    animation-name: goeeey;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 2s;
    animation-direction: alternate;
}


@keyframes goeeey {
    from{
        translate: transform(10%,-10%) skew(0);
    }
    to{
        translate: transform(-10% , 10%) skew(-12deg);
    }
    
}


.elem {
    height: 150px;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    background-color: #EFEAE3;
    white-space: nowrap;
    border-bottom: 1px solid black;
}

.elem h2 {
  position: relative;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-size: 57px;
  font-weight: 700;
  line-height: 1.5;
  text-decoration: none;
  padding: 2vw 2vw;
  margin: 0 -.25rem;
  background-color: #EFEAE3;
  width: 100%;
  right: 0;
  overflow: hidden;
  height: 10vw;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.elem h2::before {
  content: "";
  position: absolute;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 165, 0, 1); /* Orange color */
  transition: top 0.5s ease-in-out;
  z-index: -1; /* Change this from 0 to -1 */
}

.elem h2:hover::before {
  top: 0; 
}

.elem h2 {
  position: relative;
  z-index: 1; 
}

#fixed-image{
    height: 30vw;
    width: 24vw;
    background-color: black;
    border-radius: 10px;
    position: fixed;
    z-index: 99;
    left: 50%;
    top: 25%;
    display: none;
    background-size: cover;
    background-position: center;
}

#centre{
    width: 100%;
    min-height: 100vh;
    padding: 2vw 2vw;
    background-color: #EFEAE3;   
    position: relative;
    display: flex;
}

#centre #left{
    width: 50%;
    min-height: 100vh;
    background-color: black;
    border-radius: 20px;
    z-index: 1;
    position: relative;
}

#centre #right{
    width: 50%;
    min-height: 100vh;
    
    border-radius: 20px;
    z-index: 2;
    position: relative;
    right: 27px;
}

#centre #right img{
    width: 100%;
    min-height: 140vh;
    border-radius: 20px;
    z-index: 2;
    position: relative;
    right: 0px;
    bottom: 0px;
}

#written-content{
    color:#504a45;
    background-color: black;
    padding: 15vw 10vw;
    justify-content: center;
    font-size: 8vh;
    font-family: sun-roman;
    width: 20px;
}

#written-content a{
    line-height: 70px;
    font-size: 58px;
    font-weight: 700;
}

#written-para{
    width: 400px;
    font-size: 20px;
    color: #efeae3;    
}

#page-5{
    background-color: #EFEAE3;
    min-height: 100vh;
    width: 100%;
}


#boxes{

  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #EFEAE3;
}

#box-1 {
    width: 50vh;
    height: 50vh;
    border-left: 1px solid black;
    padding: 2vh;
  position: relative;
  overflow: hidden;
  
  transition: all 0.5s ease;
}

#box-1 h2 {
  
  color: black;
  font-size: 2rem;
  position: relative;
  z-index: 2;
}

#box-1::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background: linear-gradient(
    0deg, 
    transparent, 
    transparent 30%, 
    black
  );
  transform: rotate(-45deg);
  transition: all 0.5s ease;
  opacity: 0;
}

#box-1:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px black;
}

#box-1:hover::before {
  opacity: 1;
  transform: rotate(-45deg) translateY(100%);
}

#main{
    position: relative;
    z-index: 10;
    min-height: 200vh;
    padding-bottom: 130vh;
}

#footer {
    height: 105vh;
    width: 100%;
    color: white;
    bottom: 0;
    position: absolute;
    z-index: 1;
    background-color: black;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 1vw 3vw;
}

#footer #tags{
    z-index:100;    
    padding: 0vw 5vw;
    margin-bottom: 10px;
    line-height: 40px;
}
#tags{
    justify-content: space-between;
    
}

#footer #tags h1{
    font-size: 30px;
    font-weight: 700;
}

#footer h1{
    font-size: 23vw;
}


#footer-div {
    height: 20vh; 
    width: 120%; 
    background-color: #FE320A;
    filter: blur(25px);
    position: absolute;
    top: -5vh;
    /* left: -10%; */
    animation: red-animate 4s ease-in-out infinite alternate;
}

#footer-div1 {
    height: 40vh; 
    width: 120%; 
    background-color: #FE320A;
    filter: blur(25px);
    position: absolute;
    top: 10vh;
    /* left: -10%; */
    animation: yellow-animate 6s ease-in-out infinite alternate;
}

#footer-bottom {
    border-top: 1px solid #dadada;
    height: 10vh;
    width: 100%;
    position: relative;
    z-index: 10;
}

@keyframes red-animate {
    0% {
        transform: translate(-20%, -10%) skew(0);
    }
    50% {
        transform: translate(10%, 10%) skew(-8deg);
    }
    100% {
        transform: translate(-20%, -10%) skew(0);
    }
}

@keyframes yellow-animate {
    0% {
        transform: translate(10%, -15%) skew(0);
    }
    50% {
        transform: translate(-15%, 15%) skew(12deg);
    }
    100% {
        transform: translate(10%, -15%) skew(0);
    }
}

#footer-bottom{
    display: flex;
    justify-content: space-between;
}